@use "../abstracts/mixin";
@use "../abstracts/variables";
// @use "../base/fonts";
// @use "../base/normalize";

.footer {
  // @include mixin.setka;
  &__text {
    // font-size: variables.$font-size-medium;
    color: red;
  }
}

   .container a:hover

  .footer .social > a:hover {
    opacity: 0.9;
  }
.container {
 display: inline;
padding: 0;
text-align: center;
font-size: 18px;
line-height: 1.6;
margin-bottom: 0;

}