@use "../abstracts/mixin";
@use "../abstracts/variables";
@use "../base/fonts";
@use "../base/normalize";

.footer {
  // @include mixin.setka;
  &__text {
    // font-size: variables.$font-size-medium;
    color: red;
    text-decoration: none;
  }
}

.footer-logo {
}
.social {
    text-align: center;
    padding-bottom: 25px;
}

.social-icon-telegram {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}
.social-icon-mail {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

  .list a:hover {
    opacity: 1;
  }
  
  .footer .social > a:hover {
    opacity: 0.9;
  }
  
.list {
  display: inline;
    // display: flex;
    // justify-content: space-evenly;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}
