@use "../abstracts/mixin";
@use "../abstracts/variables";
@use "../base/fonts";
@use "../base/normalize";

.edujobtitle {
    font-size: 1.875em;
    color:#2B2B2B;
}

.edujobmain{
    justify-content: center;
}

.jobtitle {
    font-size: 1.25em;
    color:#2B2B2B;
}

.jobtext {
    font-size: 0.875em;
    color: #7E7E7E;
}

.buttontext {
    font-size: 1em;
}

.btn{
    border-radius: 100px;
    background-color: #001689;
    border-color: #D7D7D7;
}

@media screen and (max-width: 1200px) {
    .edujobtitle {
        font-size: 1.5em;
    }
    
    .jobtitle {
        font-size: 1em;

    }
    
    .jobtext {
        font-size: 0.75em;
    }
    
    .buttontext {
        font-size: 0.3125em;
    }
}

/*@media screen and (max-width: 992px) {
    font-size: 1.125em;
}*/

@media screen and (max-width: 768px) {
    .edujobtitle {
        font-size: 1.25em;
        text-align: center;
    }
    
    .jobtitle {
        font-size: 1em;
    }
    
    .jobtext {
        font-size: 0.75em;
    }
    
    .buttontext {
        font-size: 0.3125em;
    }
    }

@media screen and (max-width: 650px){

        .edujobtitle {
        font-size: 1.25em;
        text-align: center;
    }
    .edu{
        width: 546px;
        
    }
    .job{
        width: 546px;
    }
    
    .jobtitle {
        font-size: 1em;

    }
    
    .jobtext {
        font-size: 0.75em;
    }
    
    .buttontext {
        font-size: 0.3125em;
    }
    
}

/*@media screen and (max-width: 430px){
    font-size: 1.875em;

}

@media screen and (max-width: 388px) {
    font-size: 1.875em;

}*/