$font-size-medium: 16em;

$white: white;
$bacground-color: rgb(35, 152, 3);

$text-color: rgb(165, 43, 226);

$font-family: 'Gilroy', sans-serif;
$black: #000000;
$gray-light: rgba(197, 217, 231, 0.3);
$primary-font-size: 1.2em;
$heading-font-size: 2em;

/* TEXT COLOR */
$title-color:rgb(43, 43, 43);
$text-color: rgb(140, 140, 140);
$text-color-accent: rgb(48, 180, 218);
$text-color-btn: rgb(255, 255, 255);

/* FONT-SIZE */
$fs-h2: 1.875rem; /* 30px */
$fs-text: 0.75rem;/* 12px */
$fs-btn: 0.625rem; /* 10px */

/*FONT-FAMILY*/
$ff: "Gilroy", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$bg-darkblue: rgb(0, 22, 137);
$bg-lightblue: rgba(197, 217, 231, 0.3);